*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cubo{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: cubo-animation 3.5s infinite linear;  
}

.mario{
    width: 40px;
    position: absolute;
    bottom: 0;
    animation: jump 500ms ease-out;
}

.jump{
    animation: jump 500ms ease-out;

}

@keyframes cubo-animation{

    from {
        right: -80px;
    }
     
    to{
        right: 100%;
    }
}

@keyframes jump{
    
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }
    

    100%{
        bottom: 0;
    }
}